/*Content First - Mobile First*/
    /*General Rules*/
    *{
        box-sizing: border-box;
        font-family: 'segoe ui', 'calibri', 'verdana', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    .btn{
        margin: .5rem;
        border: .1rem solid #eee;
        color:#eee;
        background-color: transparent;
        cursor: pointer;
    }
    .btn:hover{
        color:#8cf;
        background-color: #eee;
    }
    .cover{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: -1;
    }
    /*Navigation*/
    nav{
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-image: linear-gradient(#8cf, #f8c);
    }
    nav a{
        display: block;
        padding: .5rem;
        color:#eee;
        text-decoration: none;
        text-shadow: 0 0 .25rem #333;
    }
    .menu{
        width: 100%;
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: rgba(51,51,51,.5);
    }
    /*Header*/
    header{
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100vh;
        color:#eee;
        text-shadow: 0 0 .5rem #eee;
        background-color: #333;
        text-align: center;
        font-size: calc(2vw + 1rem);
    }
    /*Footer*/
        footer{
            position: relative;
        }
        /*Social media*/
            .social{
                display: flex;
                justify-content: center;
                padding: 1rem
            }
            .social a{
                position: relative;
                margin: .25rem;
                border-radius: .25rem;
                padding: .5rem 1rem;
                color:#eee;
                text-decoration: none;
                background-color: #333;
            }
            .social a:hover{
                bottom:.25rem;
                background-color: #666;
            }
        /*Colabs Table*/
            .colabs,
            .colabs caption{
                margin: auto;
                color:#eee;
                background-color: #151515;
                border-collapse: collapse;
            }
            .colabs caption{
                border-radius: .25rem .25rem 0 0;
            }
            .colabs caption,
            .colabs th,
            .colabs td{
                padding:.5rem;
            }
            .colabs tbody tr:nth-child(even){
                background-color: #333;
            }
            .colabs tbody tr:nth-child(odd){
                background-color: #666;
            }
        /*Contact Map*/
            .map{
                border: none;
                opacity: .5;
            }
            .map.active,
            .map.active + .btn-map{
                position: fixed;
                opacity: .9;
                z-index: 2;
            }
            .btn-map{
                position: absolute;
                top: .5rem;
                right: .5rem;
                font-size: 1.5rem;  
                background-color: #333;
            }
/*Small Devices - Smartphones */

/*Medium Devices - Tablets*/
    @media screen and (min-width: 768px){
        nav .btn{
            display: none;
        }
        .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    }
/*Large Devices - Laptops*/

/*Extra Large Devices - HD Desktop*/
    @media screen and (min-width: 1200px){
        nav{
            justify-content: space-around;
        }
    }